[MASTER]
# Configuração do Pylint para o projeto
# Ignorar arquivos de migração e cache
ignore=migrations,__pycache__,venv,env
ignore-patterns=^test_.*\.py$

[MESSAGES CONTROL]
# Desabilitar alguns avisos muito verbosos
disable=
    missing-docstring,
    too-few-public-methods,
    too-many-arguments,
    too-many-locals,
    too-many-branches,
    too-many-statements,
    too-many-instance-attributes,
    too-many-public-methods,
    too-many-return-statements,
    too-many-boolean-expressions,
    import-outside-toplevel,
    fixme,
    broad-except

[FORMAT]
# Configurações de formatação
max-line-length=120
indent-string='    '
indent-after-paren=4
indent-module=0

[BASIC]
# Nomes de variáveis permitidos
good-names=i,j,k,ex,Run,_,id,db,qs,obj,req,res,ctx

[DESIGN]
# Limites de complexidade
max-args=10
max-locals=20
max-returns=8
max-branches=15
max-statements=60
max-parents=10
max-attributes=15
max-public-methods=25
max-bool-expr=6

[IMPORTS]
# Ordenação de imports
import-order-style=google

[EXCEPTIONS]
# Exceções que podem ser usadas
overgeneral-exceptions=BaseException,Exception









