# Django
Django==4.2.7

# Banco de dados
psycopg2-binary==2.9.7

# Google Cloud
google-cloud-storage==2.10.0
google-auth==2.23.4
google-cloud-secret-manager==2.16.1

# Mercado Pago
mercadopago>=2.2.0

# Exportação PDF/Excel
reportlab>=4.0.0
openpyxl>=3.1.0
pandas>=2.0.0
# weasyprint removido por problemas de compatibilidade

# Imagens
Pillow==10.1.0

# APIs
requests==2.31.0

# Utilitários
python-decouple>=3.8
python-dotenv>=1.0.0
django-redis>=5.4.0
redis>=5.0.0

# Formulários
django-crispy-forms>=2.0

# Segurança
django-csp>=3.8
django-secure>=1.0.0

# Cache
django-storages[google]>=1.14.0