# Django
Django==4.2.7

# Banco de dados
psycopg2-binary==2.9.7

# Google Cloud
google-cloud-storage==2.10.0
google-auth==2.23.4
google-cloud-secret-manager==2.16.1

# Mercado Pago
mercadopago==2.0.0

# Exportação PDF/Excel
reportlab==4.0.7
weasyprint==61.2
openpyxl==3.1.2
pandas==2.1.4

# Imagens
Pillow==10.1.0

# APIs
requests==2.31.0

# Utilitários
python-decouple==3.8
django-redis==5.4.0
redis==5.0.1

# Formulários
django-crispy-forms==2.1

# Segurança
django-csp==3.8
django-secure==1.0.2

# Cache
django-storages[google]==1.14.2